body{
  text-align: center;
}

.navbar{
  padding: 30px 6%;
}

h1,h2,h3,h4,h5,h6{
  font-family: "Montserrat";
}

p{
  color:#8f8f8f;
  font-size: 17px;
}

/* HEADINGS */

.section-h2{
  font-size: 2.75rem;
  line-height: 1.5;
  margin-bottom: 50px;
}

.montserrat{
  font-family: 'Montserrat';
}

/* CONTAINERS & SECTIONS */

.container-fluid{
  padding: 4% 6%;
}

.yellow-section{
  background-color: #cd990b;
  color: white;
}

.dark-div{
  background-color: #222021;
  color: white;
}

.bmar-50{
  margin-bottom: 50px;
}

.bmar-30{
  margin-bottom: 30px;
}

.full-img{
  width:100%;
  height: 550px;
}



/* TITLE SECTION */



/* NAVBAR */

.navbar-brand{
  text-align: left;
}

.logo{
  width:65%;
  padding-bottom: 5px;
}

.nav-item{
  padding: 0 10px;
}

.nav-link,.nav-btn{
  font-size: 17px;
}

/* DROPDOWN MENU */

.dropdown-menu{
  padding: 15px 0;
}

.dropdown-menu a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-menu {display: block;}

/* PROBLEMS SECTION */

.prb-icon{
  font-size: 4.5rem;
  padding: 60px 0 20px 0;
}

.prb-col{
  padding: 30px;
}

.prob-row{
  padding-bottom:40px;
}

/* ABOUT US SECTION */

#about-us{
  padding-bottom: 150px;
}

.about-us-p{
  padding-bottom:50px;
  font-size: 1.25rem;
  color: white;
}

.card-img-top{
  height: 250px;
}

/* OUR WORK SECTION */

#our-work{
  padding: 4% 0 2%;
}

.work-h2{
  margin: 80px 0 60px 0;
}

.work-p{
  color: #fff;
}

/* PARTNERS & DONORS SECTION */

.p-d-h2{
  font-size: 40px;
}

.carousel-div{
  padding: 7% 15%;
}

.press-img{
  max-width: 100px;
  margin: 0 20px;
}

/* GET INVOLVED */

#get-involved{
  padding-bottom: 100px;
}

.gi-h3{
  margin-bottom: 0;
  font-size: 1.2rem;
}

.gi-card{
  border: 1px solid black;
}

/* FOOTER */

#footer{
  text-align: left;
}

.footer-logo{
  width: 90%;
  padding-top: 20px;
}

.footer-logo-div{
  padding-right: 20%;
  text-align: center;
}

.footer-icon{
  font-size: 20px;
  padding: 20px 10px 10px;
}

#footer a{
  color:#6c757d;
}

#footer a:hover{
  text-decoration: none;
  color: #dee2e6;
}

/* Contact Us */

.full-img-cu{
  width:100%;
  height: 600px;
}

.container-cu{
  padding: 2% 2%;
  background-color: white;
  position: absolute;
  width: 600px;
  height: 550px;
  left:0;
  right: 575px;
  top: 175px;
  margin: 0 auto;
  border-radius: 20px;
  text-align: left;
}

.input-cu{
  display: inline-block;
  width: 500px;
}

.getintouch-cu{
  padding-top: 25px;
}

.submit-btn{
  margin-left: 2%;
}

.submit-btn {
  background: #222021;
  /* background-image: -webkit-linear-gradient(top, #11CDD4, #11999E);
  background-image: -moz-linear-gradient(top, #11CDD4, #11999E);
  background-image: -ms-linear-gradient(top, #11CDD4, #11999E);
  background-image: -o-linear-gradient(top, #11CDD4, #11999E);
  background-image: linear-gradient(to bottom, #11CDD4, #11999E); */
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.submit-btn:hover {
  background: #cd990b;
  /* background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad); */
  text-decoration: none;
  color:#000000
}